<div class="jumbotron text-center">
    <h1 class="display-3">Welcome ATS</h1>
    <p class="lead">Click on the button to make the data contained in the API saved in our database</p>
    <a href="/save" class="btn btn-dark btn-lg">Save data</a>
</div>